<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="Stefan IT" content="High precision Stefan">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/Collection/Style/Stylesheet.css">
<link rel="icon" href="/Collection/Style/favicon_io/favicon-32x32.png" type="image/x-icon">
<title>Stefan's IT | Smart solutions for Stupid Problems</title>
</head>
<body>
<header>
    <div class="header1"><a class="invislink" href="{{ url_for('routes.dashboard') }}">Stefan's IT</a></div>
    <nav>
        <ul class="navlist">
            <li class="Stefan"><a class="invislink" href="{{ url_for('routes.dashboard') }}">SIT</a></li>
            <li class="navitems"><a class="invislink" href="{{ url_for('routes.dashboard') }}">Our Services</a></li>
            <li class="navitems"><a class="invislink" href="{{ url_for('routes.dashboard') }}">About us</a></li>
            <li class="navitems"><a class="invislink" href="{{ url_for('routes.dashboard') }}">Contact</a></li>
            <a id="Loginbutton" class="invislink loginnav navitems" href="{{ url_for('routes.login') }}">Login</a>
        </ul>
    </nav>
    <div class="werbung">
        <video alt="This couldn't be displayed correctly, check for updates please" class="werbeelement"
        src="{{ url_for('static', filename='videos/Spinning_Fish_Mp4.mp4') }}" type="video/mp4" autoplay loop muted></video>
        <video alt="This couldn't be displayed correctly, check for updates please" class="werbeelement"
        src="{{ url_for('static', filename='videos/Spinning_Fish_Mp4.mp4') }}" type="video/mp4" autoplay loop muted></video>
        <video alt="This couldn't be displayed correctly, check for updates please" class="werbeelement"
        src="{{ url_for('static', filename='videos/Spinning_Fish_Mp4.mp4') }}" type="video/mp4" autoplay loop muted></video>
    </div>
</header>
</body>